# Created by .ignore support plugin (hsz.mobi)
### Node template
# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock



# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release



# Optional npm cache directory
.npm



/public/lib/
/.idea/
/node_modules
/public/data/db/
/web.config
/bin
/Bin
web.config
/public/FormsFramework