doctype html
hr
.row.padding-after
    .col-sm-6
        .form-group
            label.bootcamp-input-label.bold *Do you intend to enroll in fall classes at City Colleges of Chicago? Students who register for fall classes may keep their borrowed device(s) until the end of the term.
            br
            label.bootcamp-input-label.bold  Fall 2020
            .p-form-cg.pt-form-inline
                .radio
                    label
                        input(type='radio', name='fallEnroll', value='yes' ng-model="survey.enrollFall" required)
                        span.p-check-icon
                        |
                        span.p-label Yes, I do intend to register for Fall 2020
                .radio
                    label
                        input(type='radio', name='fallEnroll', value='no' ng-model="survey.enrollFall" required)
                        span.p-check-icon
                        |
                        span.p-label No, I do not intend to register for Fall 2020
            div(ng-show= "SubmittedClicked")
                .p-field-error(ng-show='!survey.enrollFall') Please enter your enrollment intentions for fall.
    .col-sm-6
        div(ng-show="survey.enrollFall == 'no'")
            p(style="color:blue;") Please click <a target="_blank" href="https://www.signupgenius.com/index.cfm?go=c.SignUpSearch&eid=00C4CCD7F8CCFD66&cs=09C3BADB8FBE8B627B0764745BB29BC8&sortby=&view=i"> here</a> to sign up for a date/time/location to return your device(s). to sign up for a date/time/location to return your device(s).










