doctype html
hr
.row.padding-after
    .col-sm-6
        .form-group
            label.bootcamp-input-label.bold *Do you intend to enroll in summer or fall classes at City Colleges of Chicago? Students who register for summer or fall classes may keep their borrowed device(s) until the end of those terms.
            br
            label.bootcamp-input-label.bold  Summer 2020
            .p-form-cg.pt-form-inline
                .radio
                    label
                        input(type='radio', name='summerEnroll', value='yes' ng-model="survey.enrollSummer" required)
                        span.p-check-icon
                        |
                        span.p-label Yes, I do  intend to register for Summer 2020
                .radio
                    label
                        input(type='radio', name='summerEnroll', value='no' ng-model="survey.enrollSummer" required)
                        span.p-check-icon
                        |
                        span.p-label No, I do not intend to register for Summer 2020
            div(ng-show= "SubmittedClicked")
                .p-field-error(ng-show='!survey.enrollSummer') Please enter your enrollment intentions for summer.
            br
            br
            label.bootcamp-input-label.bold  Fall 2020
            .p-form-cg.pt-form-inline
                .radio
                    label
                        input(type='radio', name='fallEnroll', value='yes' ng-model="survey.enrollFall" required)
                        span.p-check-icon
                        |
                        span.p-label Yes, I do intend to register for Fall 2020
                .radio
                    label
                        input(type='radio', name='fallEnroll', value='no' ng-model="survey.enrollFall" required)
                        span.p-check-icon
                        |
                        span.p-label No, I do not intend to register for Fall 2020
            div(ng-show= "SubmittedClicked")
                .p-field-error(ng-show='!survey.enrollFall') Please enter your enrollment intentions for fall.
    .col-sm-6
        div(ng-show="survey.enrollFall == 'no'  && survey.enrollSummer == 'no'")
            p(style="color:blue;") Please click <a target="_blank" href="https://www.signupgenius.com/index.cfm?go=c.SignUpSearch&eid=00C4CCD7F8CCFD66&cs=09C3BADB8FBE8B627B0764745BB29BC8&sortby=&view=i"><span style="color: black; font-weight:bold;"> here</span></a> to sign up for a date/time/location to return your device(s).
hr
.row.padding-after
    .col-sm-6
        .form-group
            label.bootcamp-input-label.bold  Students taking classes in Summer and/or Fall may purchase the laptop and/or Mi-Fi device at a discounted rate. Are you interested in purchasing the device(s)?
            .p-form-cg.pt-form-inline
                .radio
                    label
                        input(type='radio', name='purchase', value='yes' ng-model="survey.purchase" required)
                        span.p-check-icon
                        |
                        span.p-label Yes
                .radio
                    label
                        input(type='radio', name='purchase', value='no' ng-model="survey.purchase" required)
                        span.p-check-icon
                        |
                        span.p-label No
                .radio
                    label
                        input(type='radio', name='purchase', value='noS' ng-model="survey.purchase" required)
                        span.p-check-icon
                        |
                        span.p-label I am no longer a CCC student
            div(ng-show= "SubmittedClicked")
                .p-field-error(ng-show='!survey.purchase') Please enter your a response.
    .col-sm-6
        div(ng-show="survey.purchase == 'no' || survey.purchase == 'noS'")
            p(style="color: blue;") If you do not wish to purchase your device(s), you must either register for summer and/or fall classes, or click <a target="_blank" href="https://www.signupgenius.com/index.cfm?go=c.SignUpSearch&eid=00C4CCD7F8CCFD66&cs=09C3BADB8FBE8B627B0764745BB29BC8&sortby=&view=i"> <span style="color: black; font-weight:bold;">here</span></a> to sign up for a date/time/location to return your device(s).

        div(ng-show="survey.purchase == 'yes'")
            p(style="color: blue;")  You will receive further information about how to purchase your device(s) to your City Colleges email.
            |  If you have questions in the meantime, please contact the City Colleges IT Department at cohelpdesk@ccc.edu.









