doctype html
.container
    .row
        .col-sm-4.mb-5
            h2 Your Login Profile
            p.font-weight-bold Student ID: {{student.EmployeeNumber}}
            p.font-weight-bold Email Address: {{student.EmailAddress}}
            hr

    .row
        .col-sm-12.mb-5
            p(ng-hide="Submitted") Dear student, <br/>According to our records, you are not yet registered for summer or fall classes and have borrowed a laptop and/or Mi-Fi device from City Colleges for the spring semester.
            br
            p(ng-hide="Submitted") Please take a moment to complete this form and let us know what your plans are.

            br
            p.bold(style="color:red;") Due to circumstances throughout the City of Chicago, the loaner laptop and Mi-Fi returns scheduled for the week of June 1-5 are being postponed.  Please do not attempt to return your device to City Colleges this coming week. As soon as a new date is selected, we will let you know.  We are sorry for any inconvenience.
            br
            form(method='post', name='loanerLaptopSurveyForm')
                div( ui-view)

            hr
            button.btn.btn-primary.btn-lg(type='submit' ng-hide='Submitted' ng-click='submitSurvey()') Submit


