doctype html
.container
    .row
        .col-md-12.mb-5
            h4.mb-3  The technology loan survey saved successfully
            p  Thank you for abiding by your contract to ensure other students also have the opportunity to benefit from this opportunity, If you are returning your equipment, please click
                <a href="https://www.signupgenius.com/index.cfm?go=c.SignUpSearch&eid=00C4CCD7F8CCFD66&cs=09C3BADB8FBE8B627B0764745BB29BC8&sortby=&view=i"><span style="color: black; font-weight:bold;"> here</span></a> to sign up for a date/time/location to return your device(s).

            hr
            p  If you have any questions, please contact the City Colleges IT Department at cohelpdesk@ccc.edu.










