doctype html
.container
    .row
        .col-sm-4.mb-5
            h2 Su perfil de inicio de sesión
            p.font-weight-bold Estudiante ID: {{student.EmployeeNumber}}
            p.font-weight-bold Direccion de email: {{student.EmailAddress}}
            hr
        .col-sm-12.mb-5.animate-show-hide
            p Favor de rellenar la solicitud para tomar prestado un portátil y/o hotspot de internet personal en lo que queda del semestre de 2020. Los aparatos se enviarán a la dirección proporcionada por usted en seguida.
                //li  Caso ya haya solicitado portátil, NO NECESITA solicitar otro. Entregue este formulario solamente si necesita además del portátil, un Wi-fi hotspot.
            h4 Para completar esta solicitud, favor de proporcionar abajo la información que se pide, de tachar la caja de reconocimiento, y de hacer clic donde dice “submit.”
            form(method='post', name='loanerLaptopAppForm')
                div( ui-view="general_contact_infoES")

            hr
            button.btn.btn-primary.btn-lg(type='submit' ng-hide='Submitted' ng-click='submitApplication("ES")') Submit


