doctype html
.container
    .row
        .col-sm-4.mb-5
            h2 Twoj Login Profil
            //p.font-weight-bold Name: {{student.DisplayName}}
            p.font-weight-bold Identifikator Studenta: {{student.EmployeeNumber}}
            p.font-weight-bold Email adres: {{student.EmailAddress}}
            hr
        .col-sm-12.mb-5.animate-show-hide(ng-show="student.certifyQualified")
            p Prosze wyplenic podanie o pozyczke laptopa i/lub personalnego punku akcesu hotspot do konca semetru wiosennego 2020. Urzadzenia beda wyslane poczta na adresu jaki podasz.
                //li   Jesli juz zwrociles sie o laptop, to NIE zwracaj sie ponownie. Wypelnij to podanie jesli nadal potrzebujesz WiFi punk akcesu hotspot.
            h4 Prosze wpisac informacje ponizej, zamarkowac kwadracik "I understand" i kliknac "submit" w celu dokonczenia operacji.
            form(method='post', name='loanerLaptopAppForm')
                div( ui-view="general_contact_infoPOL")

            hr
            button.btn.btn-primary.btn-lg(type='submit' ng-hide='Submitted' ng-click='submitApplication("POL")') Submit

