doctype html
.row
    .col-sm-6.sched-topnav-1
        .sched-topnav-aud1
            a.sched-topnav-link1(ui-sref="application.screen" href="#")
                span.fa.fa-caret-left(   aria-hidden="true")
                |  Back to Loaner Laptop Application
.row
    .col-sm-offset-1.col-sm-11
        h4.text-center City Colleges of Chicago Student Loaner Laptop Use Policy
        br
.row.padding-after
    .col-sm-offset-1.col-sm-11
        p City Colleges of Chicago is pleased to offer laptop computers with wireless network capability for use by CCC students. These laptops are configured to provide student borrowers with the same functionality as other CCC computers for use in participation in remote learning and completion of their City Colleges academic work.

        h5 Eligible Borrowers:
        ul
            li Current credit students

        h5 Borrower’s Responsibilities:
        p Students will be asked to read and agree to these terms by clicking on the box stating they do so on the electronic Loaner Laptop program form or student technology survey, and then submitting the form/survey. The student borrower is responsible for the proper use and safe return of the laptop computer and all peripheral devices. Student users must be able to independently utilize the installed applications, as CCC personnel will provide no application support. If a laptop exhibits hardware issues, however, student users must notify the Office of Information Technology from which the laptop was borrowed, so that technical support may be arranged or a replacement device provided.

        h5 Use of Laptop Computers:
        ul
            li The student borrower is responsible for the safe return of the laptop and associated peripherals to the Office of Information Technology from which the laptop was borrowed. If the student borrower does not return the laptop, fees may be assessed, as described below, and a hold may be placed on their CCC student account. More information will be forthcoming on how to return the laptop.
            br
            li The student is <span style="font-weight: bold;">not</span> responsible for normal wear and tear or hardware failures. The student borrower is responsible for the full replacement cost of the laptop, if it is damaged, lost, or stolen, or if any peripheral devices are damaged or made inoperable in any way while the laptop computer is checked out by the student.
            br
            li All user files will be removed from the laptop’s hard disk after each use.  <span style="font-weight: bold;">Any data that is saved to the hard drive will be lost.  CCC is not responsible for deleted files.  Student users are instructed to save their files often to removable media (e.g., a USB flash drive).</span>
            br
            li Although every attempt will be made to provide student users with fully charged laptops at checkout, CCC does not guarantee that laptops will have full battery power at checkout.  An AC adapter will be provided to student borrowers at checkout, however, and it is their responsibility to return the laptop, along with the AC adapter, and all other peripheral devices, at the end of the borrowing period.  More information will be provided on how to do this.
            br
            li Student users must adhere to the <span style="font-style:italic">CCC Reasonable Computer Use Policy</span> and all other applicable CCC policies, State or Federal Laws, and contractual agreements.

        h5 Receiving and Returning of Laptop / Duration of Use:
        ul
            li Students must complete an application and agree to the terms and conditions of borrowing a laptop, based on availability. If a laptop is available, it will then be shipped directly to the mailing address the student provides.
            br
            li Loan duration is limited to the end of spring semester or the students’ unenrollment in classes at CCC, whichever is first.
            br
            li Availability is on a first come, first served basis.  Laptop reservations are not accepted.
            br
            li Loan extensions may be granted in CCC’s sole determination.

        h5 Student Liability
        ul
            li The student borrower is responsible for the safe return of the laptop and associated peripheral devices to the Office of Information Technology from which the items were borrowed.  More information will be provided on the return process.
            br
            li Failure to return the laptop loaner equipment as directed by these terms and/or failure to pay for damages will result in a charge to your student account of up to full value of the laptop and a loss of borrowing privileges.

        h5  Payment Method to Cover Lost, Damaged, or Stolen Property
        p   To borrow a Loaner Laptop, a student must consent to having the replacement cost charged to his/her account if the laptop is lost, stolen, or damaged. By completing the survey and/or filling out the loaner laptop form, clicking on the box stating you acknowledge and agree to the terms and conditions of the Loaner Laptop program, and taking possession of the laptop, you are consenting to having this replacement charge applied to your student account if the loaner laptop is not returned in its original and/or authorizing CCC to charge the cost of the lost, damaged, or stolen laptop to your financial aid. If financial aid cannot be used to cover the replacement charge for any reason (e.g., financial aid already refunded, financial aid inadequate to cover the charge, etc.), you will still be responsible for the replacement cost of the lost, damaged, or stolen laptop. A hold will be placed on your records which will, in turn, prohibit registration and the ordering of transcripts, and your account may be sent to a collection agency, if it remains delinquent.

