doctype html
.row
    .col-sm-6.sched-topnav-1
        .sched-topnav-aud1
            a.sched-topnav-link1(ui-sref="applicationES.screen" href="#")
                span.fa.fa-caret-left(   aria-hidden="true")
                |  Volver a la aplicación para computadora portátil Loaner
.row
    .col-sm-offset-1.col-sm-11
        h4.text-center Política de uso de la computadora portátil de City Colleges of Chicago
        br
.row.padding-after
    .col-sm-offset-1.col-sm-11
        p City Colleges of Chicago se complace en ofrecer computadoras portátiles con capacidad de red inalámbrica para uso de los estudiantes de CCC.  Estas computadoras portátiles están configuradas para proporcionar a los estudiantes la misma funcionalidad que otras computadoras de CCC para su uso en la participación en el aprendizaje remoto y la finalización de su trabajo académico de City Colleges.

        h5 Prestatarios elegibles:
        ul
            li Estudiantes de crédito actuales

        h5 Responsabilidades del prestatario:
        p Se les pedirá a los estudiantes que lean y acepten estos términos haciendo clic en el cuadro que indica que lo hacen en el formulario electrónico del programa “Student Loaner Program” o en la encuesta de tecnología del estudiante, y luego envían el formulario / encuesta. El estudiante prestatario es responsable del uso adecuado y la devolución segura de la computadora portátil y todos los dispositivos periféricos. Los usuarios estudiantes deben poder utilizar de forma independiente las aplicaciones instaladas, ya que el personal de CCC no proporcionará soporte de aplicaciones. Sin embargo, si una computadora portátil presenta problemas de hardware, los usuarios estudiantes deben notificar a la Office of Information Technology de la cual se tomó prestada la computadora portátil, para que se pueda organizar el soporte técnico o proporcionar un dispositivo de reemplazo.

        h5 Uso de computadoras portátiles:
        ul
            li El estudiante prestatario es responsable del regreso seguro de la computadora portátil y los periféricos asociados a la Office of Information Technology de la cual se prestó la computadora portátil. Si el estudiante prestatario no devuelve la computadora portátil, se pueden cobrar tarifas, como se describe a continuación, y se puede poner una retención en su cuenta de estudiante de CCC. Se enviará más información sobre cómo devolver la computadora portátil.
            br
            li El estudiante <span style="font-weight: bold;">no</span> es responsable por el desgaste normal o fallas de hardware. El estudiante prestatario es responsable del costo total de reemplazo de la computadora portátil, si se daña, se pierde o se la roban, o si algún dispositivo periférico se daña o deja de funcionar de alguna manera mientras el estudiante saca la computadora portátil.
            br
            li Todos los archivos de usuario se eliminarán del disco duro de la computadora portátil después de cada uso.  <span style="font-weight: bold;">Cualquier información que se guarde en el disco duro se perderá. CCC no es responsable de los archivos eliminados. Los estudiantes reciben instrucciones de guardar sus archivos a menudo en medios extraíbles (por ejemplo, una unidad flash USB).</span>
            br
            li Aunque se hará todo lo posible para proporcionar a los estudiantes computadoras portátiles completamente cargadas al momento de la entrega, CCC no garantiza que las computadoras portátiles tendrán la batería completa al momento de la entrega. Sin embargo, se proporcionará un adaptador de AC a los estudiantes prestatarios al momento de la entrega y es su responsabilidad devolver la computadora portátil, junto con el adaptador de AC y todos los demás dispositivos periféricos, al final del período de préstamo. Se proporcionará más información sobre cómo hacer esto.
            br
            li Los usuarios estudiantes deben adherirse a la <span style="font-style:italic">Política de uso razonable de la computadora de la CCC </span> y todas las demás políticas de CCC aplicables, leyes estatales o federales y acuerdos contractuales.

        h5 Recepción y devolución de la computadora portátil / Duración de uso:
        ul
            li Los estudiantes deben completar una solicitud y aceptar los términos y condiciones de pedir prestada una computadora portátil, según la disponibilidad. Si hay una computadora portátil disponible, se enviará directamente a la dirección postal que proporcione el estudiante.
            br
            li La duración del préstamo se limita al final del semestre de primavera o la inscripción de los estudiantes en las clases de CCC, lo que ocurra primero.
            br
            li La disponibilidad es por orden de llegada. No se aceptan reservas de computadoras portátiles.
            br
            li Las extensiones de préstamo pueden otorgarse según la única determinación de CCC.

        h5 Responsabilidad del estudiante
        ul
            li El estudiante prestatario es responsable del regreso seguro de la computadora portátil y los dispositivos periféricos asociados a la Office of Information Technology de la cual se tomaron prestados los artículos. Se proporcionará más información sobre el proceso de devolución.
            br
            li Si no devuelve el equipo de préstamo de la computadora portátil como se indica en estos términos y / o si no paga los daños, se le cobrará a su cuenta de estudiante el valor total de la computadora portátil y se perderán los privilegios de préstamo.

        h5  Método de pago para cubrir la propiedad perdida, dañada o robada
        p   Para pedir prestada una computadora portátil, un estudiante debe consentir que se le cargue el costo de reemplazo a su cuenta si la computadora portátil se pierde, se la roban o se daña. Al completar la encuesta y / o completar el formulario de la computadora portátil prestada, al hacer clic en la casilla que indica que reconoce y acepta los términos y condiciones del programa “Student Loaner Program”, y al tomar posesión de la computadora portátil, usted acepta que se aplique este cargo de reemplazo a su cuenta de estudiante si la computadora portátil prestada no se devuelve en su original y / o autoriza a CCC a cobrar el costo de la computadora portátil perdida, dañada o robada a su ayuda financiera. Si la ayuda financiera no puede utilizarse para cubrir el cargo de reemplazo por algún motivo (por ejemplo, ayuda financiera ya reembolsada, ayuda financiera inadecuada para cubrir el cargo, etc.), usted seguirá siendo responsable del costo de reemplazo de la pérdida, daño o portátil robado. Se colocará una retención en sus registros que, a su vez, prohibirá el registro y el pedido de transcripciones, y su cuenta puede enviarse a una agencia de cobro, si sigue siendo morosa.

