doctype html
.row
    .col-sm-6.sched-topnav-1
        .sched-topnav-aud1
            a.sched-topnav-link1(ui-sref="applicationPOL.screen" href="#")
                span.fa.fa-caret-left(   aria-hidden="true")
                |  Reguly programu pozyczki Laptopa
.row
    .col-sm-offset-1.col-sm-11
        h4.text-center Reguly programu pozyczki Laptopa
        br
.row.padding-after
    .col-sm-offset-1.col-sm-11
        p City College Chicago oferuje
        | komputery laptop wyposazone w urzadzenie lacznosci bezprzwodowej
        | dla swoich studentow. Te laptopy
        | sa nastawione tak aby pozyczajcy
        | student mial takie same mozliwosci
        | jak inne komputery uzwana do zdalnego nauczania i ukonczenia
        | swoich zajec szkolnych

        h5 Kto sie kwalifikuje na pozyczke:
        ul
            li Obecni studenci uzyskujacy kredytys

        h5 Obowiazki pozyczkobiorcy:
        p  "Wymaga sie aby student przeczytal i wyrazil zgode na ponizsze warunki poprzez klikniecie kwadracika na eletronicznym Programie pozyczki Laptopa. Student pozyczkobiorca jest odpowiedzialny za wlasciwe uytkowanie I zwrot komputera i jego urzadzen peryferyjnych. Student musi byc w stanie samodzielnie uzywac zinstalowane programy uzytkowe poniewaz personel CCC nie bedzie w stanie tym mu pomoc. Jesli laptop okazuje problemu hardwerowe, student ma zawiadomic Office of Information Technology z ktorego laptop byl pozyczony, tak aby techniczna pomoc mogla byc zorganzowana lub urzadzenie zastepcze dostarczone."

        h5 Uzwanie kompterow laptop:
        ul
            li Student pozyczkobiorca jest odpwiedzialny za zwrot laptopa i urzadzen peryferyjnych do Office of Information Technology z ktoregozostal pozyczony. Jesli student nie zwroci laptop oplaty beda nalozone i konto stdenta zostanie zablokowane.  Dodatkowe informacje bede dostarczone wkrotce.
            li Student nie bedzie odpwoedzialny za normalne zuzycie komutera lub problemy hardwarowe. Student bedzie musial zwrocic pelny koszt laptopa jesli bylby intencjonalnie uszkodzony, zgubiony lub ukradziony lub jesli urzadzenia peryferyjne zostaly uszkodzone podczas uzywania sprzetu przez studenta.
            li Wszystkie zbiory (file) uztkownika beda usuniete z dysku twardego laptopa. Wszystkie dane umieszczone na twardym dysku beda usuniete. CCC nie bierze odpowiedzialnosci za usuniete zbiory.  Polecamy aby studenci przeniesli swoje zbiory na przenosne media takie jak USB dyski.
            li Specjalna uwaga bedzie zwrocona aby dostarczyc studentom wpelni naladowne baterie laptopa, lecz CCC nie gwarantuje ze bateria bedzie na czas w pelninaladowana. Ladowarka baterii laptopa bedzie dostarczona dla studenta i musi byc zwrocna na koniec okresu pozyczki. Wiecej informacji bedzie dosrczona wkrotce.
            li Studenci musza postepwac zgodnie z
                | przepisami CCC odnosnie wlasciwego
                | poslugiwania sie komuterami, rowniez
                | stanowymi I federalnymi przepisami
                | i zobowiazaniami kontaktowymi
        h5 Odbior i zwrot laptopa / ukres uzywania:
        ul
            li Student musi wypenic podanie I wyrazic zgode na warunki pozyczki laptop na bazie dostepnosci. Jesli laptop jest dostepny to bedzie wyslany na adres pocztowy studenta.
            li Okres pozyczki jest na czas semestru wiosennego lub wypisu studenta, ktory kolwiek wypada pierwszy
            li Dostepnosc komptera jest na zasadzie, kto pierwszy sie zglasza, pierwszy otrzymuje. Nie akceptujemy rezerwacji.
            li Przedulzenie pozyczki moze byc oferowane, jesli CCC uzna za stosowne.
        h5  Odopwiedzialnosc studenta
        ul
            li Student pozyczkobiorca jest odpowiedzialny za zwrot laptopa i jego uzadzen peryferyjnych do Office of Information Technology z ktorych zostal pozyczony. Wiecej informacji bedzie dostarczone.
            li Jesli laptop nie zostanie zwrocony na warunkach wczesniej opisanych lub oplaty za uszkodzenia nie uiszczone k onto studenta zostanie obciozone stosownie do wartosci szkody i przywilje pozycznia bedzie odebrany,
        h5  Metoda zaplaty za zgubiony, uszkodzony lub ukradziony sprzet.
        p   Aby pozyczyc laptop, student musi wyrazic zgode na onciazenie jego konta jesli jej/jego laptop zostal zgubiony, ukradziony lub uszkodzony. Przez wypelnieninie kwestionariusza (survey) i/lub wypelnienie podania i klik na kwadraciku potwierdzasz I zgadzasz sie na warunki programu pozyczki laptopa oraz zgadzasz sie na obciazenie twojego konta pomocy finansowej. Jesli konto pomocy finansowej nie moze byc uzyte do tych celow nadal pozostajesz odpwiedzialny za urgolowania kosztow. Twoje dokumenty ukonczenia klas bede zablokowane do czasu pokrycia kosztow."

