doctype html
.container
    .row
        .col-md-12.mb-5
            h5.mb-3 We regret that only credit students, enrolled in the current semester and who are pursuing a degree are eligible for technology loans during the current semester.
            br
            p
            | We wish you much success in your academic pursuits.
            br
            br
            | <strong>City Colleges of Chicago</strong>
            br
            | Technology Loan  Program
            br
            | If you believe that you meet the eligibility requirements for a technology loan, and your records are in error -please contact the help desk.
            br
            | cohelpdesk@ccc.edu







