doctype html
.container
    .row
        .col-md-12.mb-5
            h4.mb-3 Twoje podanie o laptop zostalo rozpatrzone pozytywnie

            p.mb-1  Prosze kontynuowac sprawdzanie CCC email odnosnie dostepnosci I wysylki

            br
            p  Wyslij email do City Colleges Chicago Office of Information Technolgy <a class="pointer" href="mailto:cohelpdesk@ccc.edu">cohelpdesk@ccc.edu</a> jesli masz dodtakowe pytania. Zyczymy akademickiego sukcesu.
            br
            br
            | <strong>City Colleges of Chicago Office of Information Technology </strong>
            br
            | Program Pozyczki Laptopa
            br
            | cohelpdesk@ccc.edu







