doctype html
.container
    .row
        .col-md-12.mb-5
            h4.mb-3 Your request for a technology loan has been successful.

            p.mb-1  Please continue to check your CCC email for notifications about availability and shipping.

            br
            p
            | Please email the City Colleges of Chicago Office of Information Technology at cohelpdesk@ccc.edu with any questions.
            | We wish you much success in your academic pursuits.
            br
            br
            | <strong>City Colleges of Chicago Office of Information Technology </strong>
            br
            | Loaner Laptop Program
            br
            | cohelpdesk@ccc.edu







