doctype html
.container
    .row
        .col-md-12.mb-5
            h4.mb-3 Ha sido exitosa su petición de recibir tecnología prestada

            p.mb-1  Favor de seguir recibiendo sus correos de City Colleges of Chicago para enterarse de los pormenores relacionados con las existencias y los plazos para el envío.

            br
            p
            | Para que le contesten cualquier pregunta, favor de comunicarse con la City Colleges of Chicago Office of Information Technology a la siguiente dirección at <a class="pointer" href="mailto:cohelpdesk@ccc.edu">cohelpdesk@ccc.edu</a> with any questions.
            | Deseamos todo el éxito en sus estudios académicos.
            br
            br
            | <strong>City Colleges of Chicago Office of Information Technology </strong>
            br
            | Programa de Préstamos de Computadoras Portátiles
            br
            | cohelpdesk@ccc.edu







