.container
    .row


        .col-md-8.mb-5
            h5  Witamy na stronie wstepnej podania o pozyczke technologii!
            p   Studenci kredytowi i edukacji dla doroslych moga ubiegac sie o pozyczke komputera laptop i/lub personalnego punktu akcesu WiFi "hot spot"
            p   Dorosli i kredytowi studenci CCC moga skladac podanie o pozyczke laptopa albo <a href=""  title={{polishTranslation}}><span style="font-weight: bold:">?</span></a> WiFi "hot spot akces" do konca semestru wiosennego 2020. Jesli masz inna metode akcesu internet z domu, z szacunku dla innych, nie ubiegaj sie o "hot spot akces."
            br
            form.css-form.modern-p-form.p-form-modern-chocolate(method='post', name='loginAppForm')
                .form-group.mb-1
                    label.font-weight-bold(for='username') Username (Example - jsmith47):
                .form-group
                    input#username.form-control(placeholder='Podaj imie uztkownika CCC...', type='text', name='username', ng-model='user.username', required)
                    div(ng-show='loginAppForm.$submitted || loginAppForm.username.$touched || loginClicked')
                        .p-field-error.p-error-text(ng-show='loginAppForm.username.$error.required') Podaj swoje imie uzytkownika
                .form-group.mb-1
                    label.font-weight-bold(for='password') Haslo:
                .form-group
                    input#password.form-control(placeholder='Haslo...', type='password', name='password',ng-blur="setFocus()" ng-model='user.password', required)
                    div(ng-show='loginAppForm.$submitted  || loginClicked')
                        .p-field-error.p-error-text(ng-show='loginAppForm.password.$error.required') Podaj swoje imie haslo.
            p
                input.btn.btn-primary.btn-lg(type='submit', ng-click='submitLogin("POL")' value='Login' id="login")
            p
                strong Potrzebna pomoc przy logowaniu? Jesli masz problem z procesem login lub nie jestes w stanie dostac sie witryny
                |  CCC Testing Application zresetuj swoje haslo tu:
                |  passwordreset.ccc.edu lub znajdz pomoc na www.ccc.edu/help
                |  oraz otworz bilet pomocy.
                br
                a(href="http://passwordreset.ccc.edu/") Restowanie hasla
                br
                a(href="http://ccc.custhelp.com/app/answers/list/p/178")  Znajdz pomocnych informacji
