script(src="LoanerLaptopSurvey/lib/jquery/dist/jquery.min.js")
script(src="LoanerLaptopSurvey/lib/angular/angular.min.js")
script(src="LoanerLaptopSurvey/lib/angular-resource/angular-resource.min.js")
script(src="LoanerLaptopSurvey/lib/angular-ui-router/release/angular-ui-router.min.js")
script(src="LoanerLaptopSurvey/lib/angular-ui-mask/dist/mask.min.js")
script(src="LoanerLaptopSurvey/lib/ng-file-upload/ng-file-upload-all.min.js")
script(src="LoanerLaptopSurvey/lib/lodash/dist/lodash.core.min.js")
script(src="LoanerLaptopSurvey/lib/lodash/dist/lodash.fp.min.js")
script(src="LoanerLaptopSurvey/lib/lodash/dist/lodash.min.js")
script(src="LoanerLaptopSurvey/lib/toastr/toastr.min.js")
script(src="LoanerLaptopSurvey/app/app.js")
script(src="LoanerLaptopSurvey/app/common/Notifier.js")
script(src="LoanerLaptopSurvey/app/survey/SurveyController.js")
script(src="LoanerLaptopSurvey/app/account/LoginController.js")
script(src="LoanerLaptopSurvey/app/account/Student.js")
script(src="LoanerLaptopSurvey/app/account/mvAuth.js")
script(src="LoanerLaptopSurvey/app/account/mvIdentity.js")
script(src="LoanerLaptopSurvey/app/common/filters.js")
script(src="LoanerLaptopSurvey/app/common/excel.js")
script(src="LoanerLaptopSurvey/lib/bootstrap/dist/js/bootstrap.min.js" )
script(src="LoanerLaptopSurvey/lib/angular-ui-bootstrap/ui-bootstrap-tpls-2.3.1.min.js")
script(src="LoanerLaptopSurvey/lib/angular-animate/angular-animate.min.js")
script(src="LoanerLaptopSurvey/lib/angular-spinner/dist/angular-spinner.min.js")
script(src="LoanerLaptopSurvey/lib/ng-sortable/dist/ng-sortable.min.js")
script(src="LoanerLaptopSurvey/node_modules/angularjs-dropdown-multiselect/dist/angularjs-dropdown-multiselect.min.js")
script(type="text/javascript").
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-8735345-5']);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();






